.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.app-name {
  font-size: 22px;
}
.yield {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-label {
  margin-bottom: 10px;
}

.home-btn {
  background-color: transparent;
  border: none;
}

.form-input {
  padding: 12px 20px;
  border-radius: 8px;
  width: 100%;
  border: 1px var(--accent-light) solid;
  background-color: var(--bg-cream);
}

.form-input:focus {
  outline: none;
}
.result-btn,
.clear-btn {
  font-weight: 500;
}

.ingredient-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.ingredient-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.ingr-label {
  font-weight: 600;
  display: block;
  text-align: start;
}

.add-new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 15px;
  align-self: center;
  background-color: var(--required);
}
.del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-dark);
  width: 100%;
  height: 50px;
  padding: 15px;
  align-self: center;
}
.del-btn:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
  opacity: 0.6;
}
.del-btn:disabled:hover {
  box-shadow: none;
}

.add-new-btn .icon:hover,
.del-btn .icon:hover {
  fill: var(--bg-cream);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  max-width: 100%;
}

.result-btn,
.clear-btn {
  width: 100%;
}

.clear-btn {
  background-color: transparent;
  border: 1px solid var(--accent-hover);
  color: var(--accent-hover);
}

.required {
  color: var(--required);
  font-weight: 900;
}
@media screen and (min-width: 0) and (max-width: 320px) {
  .app-name {
    font-size: 18px;
  }

  .ingredient-input-wrapper {
    gap: 14px;
    align-items: unset;
  }
}

@media screen and (min-width: 768px) {
  .ingredient-input-wrapper {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }

  .ingr-name {
    border-radius: 8px 0 0 8px;
    flex: 2;
  }

  .ingr-qty {
    border-left: none;
    border-radius: 0 8px 8px 0;
    flex: 1;
  }

  .form-input {
    width: auto;
  }

  .yield {
    flex-direction: row;
  }

  .input-wrapper {
    width: 100%;
  }

  .action-buttons {
    justify-content: space-between;
    flex-direction: row;
  }
  .result-btn,
  .clear-btn {
    width: 50%;
  }

  .add-new-btn {
    width: 50px;
  }

  .select {
    margin: 0 0 0 24px;
    flex: 1;
  }

  .del-btn {
    margin: 0 0 0 24px;
    width: 50px;
  }
}
